.App {
  background: linear-gradient(30deg, rgba(2, 0, 36, 1) 0%, rgba(134, 222, 254, 1) 45%, rgba(0, 212, 255, 1) 100%);
}
.App-header {
  background-color: #282c34;
  min-height: 30px;
  display: flex;
  color: white;
}

.App-link {
  color: #61dafb;
}
.quote-container {
  min-height: 100vh;
  position: relative;
}
.quote-container body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
