.App {
  background: linear-gradient(30deg, rgba(2, 0, 36, 1) 0%, rgba(134, 222, 254, 1) 45%, rgba(0, 212, 255, 1) 100%);
}
.App-header {
  background-color: #282c34;
  min-height: 30px;
  display: flex;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
