.App {
  background: rgb(179,215,229);
  background: linear-gradient(149deg, rgba(179,215,229,1) 15%, rgba(180,176,238,1) 35%, rgba(179,215,229,1) 65%, rgba(180,176,238,1) 80%);
}
.App-header {
  background: linear-gradient(360deg, rgba(179, 149, 183, 1) 40%, rgba(143, 159, 246, 1) 100%);
  min-height: 6vh;
  display: flex;
  color: white;
}

.App-link {
  color: #61dafb;
}
.quote-container {
  min-height: 92vh;
  min-width: 95vw;
  position: relative;
}
.quote-container body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
