#quote-box {
  text-align: center;
  margin: auto;
  padding: 10px;
}
.quote-text {
  padding: 5px;
  color: #FFF;
}

#quote-box {
  background: linear-gradient(200deg, rgba(88,199,255,1) 40%, rgba(227,99,250,1) 100%);
}

.quote-author {
  color: #FFF;
  text-align: right;
  margin: .5rem;
}
#new-quote {
  float: right;
  position: relative;
  display: block;
  color: #FFF;
  border-radius: 2px;
  padding: 3px 5px;
  margin: .5em;
}

#new-quote:hover {
  background-color: grey;
  color: black;
}

#tweet-quote {
  float: left;
  position: relative;
  display: block;
  margin: .5em;
  font-size: 12px Calibri;
}
